<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetc.cloud.datasynch.provider.mapper.ScheduleMapper">
    <resultMap id="BaseResultMap" type="com.cetc.cloud.datasynch.api.model.ScheduleModel">
        <result column="ID" jdbcType="INTEGER" property="id"/>
        <result column="CONN_TYPE" jdbcType="VARCHAR" property="connType"/>
        <result column="SOURCE" jdbcType="VARCHAR" property="source"/>
        <result column="TOKEN" jdbcType="VARCHAR" property="token"/>
        <result column="JSON_EXTRACT_RULE" jdbcType="VARCHAR" property="jsonExtractRule"/>
        <result column="TB_NAME" jdbcType="VARCHAR" property="targetTableName"/>
        <result column="PAGE_SIZE" jdbcType="INTEGER" property="pageSize"/>
        <result column="CRON_EXPRESSION" jdbcType="VARCHAR" property="cronExpression"/>
        <result column="IS_ENABLED" jdbcType="INTEGER" property="isEnabled"/>
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime"/>
    </resultMap>

    <sql id="BaseTable">
      DS_SCHEDULE_JOB_INFO
    </sql>

    <sql id="BaseColumns">
        ID,CONN_TYPE,SOURCE,TOKEN,JSON_EXTRACT_RULE,TB_NAME,PAGE_SIZE,CRON_EXPRESSION,IS_ENABLED,CREATE_TIME,UPDATE_TIME
    </sql>

    <select id="queryScheduleJobList" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="BaseColumns"/>
        FROM
        <include refid="BaseTable"/>
    </select>

    <delete id="deleteJobByJobId" parameterType="java.lang.Integer">
        DELETE
        FROM
        <include refid="BaseTable"/>
        WHERE ID = #{jobId}
    </delete>

    <update id="updateCronByJobId" >
        UPDATE
        <include refid="BaseTable"/>
        SET CRON_EXPRESSION = #{cron}
        WHERE ID = #{jobId}
    </update>

    <update id="updateEnableStatusByJobId">
        UPDATE
        <include refid="BaseTable"/>
        SET IS_ENABLED = #{isEnabled}
        WHERE ID = #{jobId}
    </update>

    <select id="queryModelByJobId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM <include refid="BaseTable"/>
        WHERE ID = #{jobId}
    </select>

</mapper>
