<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetc.cloud.datasynch.provider.mapper.input.ScheduleMapper">
    <resultMap id="BaseResultMap" type="com.cetc.cloud.datasynch.api.model.ScheduleModel">
        <result column="ID" jdbcType="INTEGER" property="id"/>
        <result column="CONN_TYPE" jdbcType="INTEGER" property="connType"/>
        <result column="SOURCE" jdbcType="VARCHAR" property="source"/>
        <result column="ORDER_BY_COL_NAME" jdbcType="VARCHAR" property="orderByColumnName"/>
        <result column="HTTP_PARAM_EXPRESSION" jdbcType="VARCHAR" property="httpParamExpression"/>
        <result column="HTTP_TOKEN" jdbcType="VARCHAR" property="httpToken"/>
        <result column="HTTP_PARAM_PAGESIZE" jdbcType="VARCHAR" property="httpParamPageSize"/>
        <result column="HTTP_PARAM_PAGENUM" jdbcType="VARCHAR" property="httpParamPageNum"/>
        <result column="HTTP_JSON_EXTRACTRULE" jdbcType="VARCHAR" property="httpJsonExtractRule"/>
        <result column="HTTP_TOTAL_EXTRACTRULE" jdbcType="VARCHAR" property="httpTotalExtractRule"/>
        <result column="TARGET_TABLE_NAME" jdbcType="VARCHAR" property="targetTableName"/>
        <result column="PAGE_SIZE" jdbcType="INTEGER" property="pageSize"/>
        <result column="CRON_EXPRESSION" jdbcType="VARCHAR" property="cronExpression"/>
        <result column="IS_ENABLED" jdbcType="INTEGER" property="isEnabled"/>
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime"/>
    </resultMap>

    <sql id="BaseTable">
        DS_SCHEDULE_JOB_INFO
    </sql>

    <sql id="BaseColumns">
        ID,CONN_TYPE,SOURCE,ORDER_BY_COL_NAME,HTTP_PARAM_EXPRESSION,HTTP_TOKEN,
        HTTP_PARAM_PAGESIZE,HTTP_PARAM_PAGENUM,HTTP_JSON_EXTRACTRULE,HTTP_TOTAL_EXTRACTRULE,TARGET_TABLE_NAME,PAGE_SIZE,CRON_EXPRESSION,
        IS_ENABLED,CREATE_TIME,UPDATE_TIME
    </sql>
    <sql id="BaseColumns_Insert">
        ID,CONN_TYPE,SOURCE,ORDER_BY_COL_NAME,HTTP_PARAM_EXPRESSION,HTTP_TOKEN,
        HTTP_PARAM_PAGESIZE,HTTP_PARAM_PAGENUM,HTTP_JSON_EXTRACTRULE,HTTP_TOTAL_EXTRACTRULE,TARGET_TABLE_NAME,PAGE_SIZE,CRON_EXPRESSION
    </sql>

    <!--int addScheduleInstance(ScheduleModel scheduleModel);-->

    <insert id="addScheduleInstance"  useGeneratedKeys="true" keyProperty="id" parameterType="com.cetc.cloud.datasynch.api.model.ScheduleModel">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEQ_DS_SCHEDULE_JOB_INFO.NEXTVAL from dual
        </selectKey>

        INSERT INTO <include refid="BaseTable"/>
        (<include refid="BaseColumns_Insert"/> )
        VALUES (
        #{scheduleModel.id,jdbcType=INTEGER},
        #{scheduleModel.connType,jdbcType=INTEGER},
        #{scheduleModel.source,jdbcType=VARCHAR},
        #{scheduleModel.orderByColumnName,jdbcType=VARCHAR},
        #{scheduleModel.httpParamExpression,jdbcType=VARCHAR},
        #{scheduleModel.httpToken,jdbcType=VARCHAR},
        #{scheduleModel.httpParamPageSize,jdbcType=VARCHAR},
        #{scheduleModel.httpParamPageNum,jdbcType=VARCHAR},
        #{scheduleModel.httpJsonExtractRule,jdbcType=VARCHAR},
        #{scheduleModel.httpTotalExtractRule,jdbcType=VARCHAR},
        #{scheduleModel.targetTableName,jdbcType=VARCHAR},
        #{scheduleModel.pageSize,jdbcType=INTEGER},
        #{scheduleModel.cronExpression,jdbcType=VARCHAR}
        )
    </insert>
    <select id="queryScheduleJobList" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="BaseColumns"/>
        FROM
        <include refid="BaseTable"/>
    </select>

    <delete id="deleteJobByJobId" parameterType="java.lang.Integer">
        DELETE
        FROM
        <include refid="BaseTable"/>
        WHERE ID = #{jobId}
    </delete>

    <update id="updateCronByJobId" >
        UPDATE
        <include refid="BaseTable"/>
        SET CRON_EXPRESSION = #{cron}
        WHERE ID = #{jobId}
    </update>

    <update id="updateEnableStatusByJobId">
        UPDATE
        <include refid="BaseTable"/>
        SET IS_ENABLED = #{isEnabled}
        WHERE ID = #{jobId}
    </update>

    <select id="queryModelByJobId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM <include refid="BaseTable"/>
        WHERE ID = #{jobId}
    </select>

    <select id="getStatusByJobId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT IS_ENABLED
        FROM <include refid="BaseTable"/>
        WHERE ID = #{jobId}
    </select>

</mapper>
