<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetc.cloud.datasynch.provider.mapper.input.SyhchJobLogInfoMapper">
    <resultMap id="BaseResultMap" type="com.cetc.cloud.datasynch.api.model.SynchJobLogInfoModel">
        <result column="ID" jdbcType="INTEGER" property="id"/>
        <result column="JOBID" jdbcType="INTEGER" property="jobId"/>
        <result column="IS_SUCCESS" jdbcType="INTEGER" property="isSuccess"/>
        <result column="QUERY_RESULT_SIZE" jdbcType="INTEGER" property="queryResultSize"/>
        <result column="CURRENT_PAGE_NUM" jdbcType="INTEGER" property="currentPageNum"/>
        <result column="CURRENT_PAGE_SIZE" jdbcType="INTEGER" property="currentPageSize"/>
        <result column="START_ROW" jdbcType="INTEGER" property="startRow"/>
        <result column="END_ROW" jdbcType="INTEGER" property="endRow"/>
        <result column="CONN_TYPE" jdbcType="INTEGER" property="connType"/>
        <result column="SUCCESS_COUNT" jdbcType="INTEGER" property="successCount"/>
        <result column="FAIL_COUNT" jdbcType="INTEGER" property="failCount"/>
        <result column="TOTAL_SUCCESS_COUNT" jdbcType="INTEGER" property="totalSuccessCount"/>
        <result column="TOTAL_FAIL_COUNT" jdbcType="INTEGER" property="totalFailCount"/>
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime"/>
    </resultMap>

    <sql id="BaseTable">
      DS_SYNCH_JOB_LOG_INFO
    </sql>

    <sql id="BaseColumns">
        ID,JOBID,IS_SUCCESS,QUERY_RESULT_SIZE,CURRENT_PAGE_NUM,CURRENT_PAGE_SIZE,START_ROW,END_ROW,CONN_TYPE,SUCCESS_COUNT,
        FAIL_COUNT,TOTAL_SUCCESS_COUNT,TOTAL_FAIL_COUNT,CREATE_TIME,UPDATE_TIME
    </sql>
    <sql id="BaseColumns_Insert">
       ID,JOBID,IS_SUCCESS,QUERY_RESULT_SIZE,CURRENT_PAGE_NUM,CURRENT_PAGE_SIZE,START_ROW,END_ROW,CONN_TYPE,SUCCESS_COUNT,
       FAIL_COUNT,TOTAL_SUCCESS_COUNT,TOTAL_FAIL_COUNT
    </sql>

    <!--int addScheduleInstance(ScheduleModel scheduleModel);-->

    <insert id="add" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.cetc.cloud.datasynch.api.model.SynchJobLogInfoModel">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEQ_DS_SYNCH_JOB_LOG_INFO.NEXTVAL from dual
        </selectKey>

        INSERT INTO
        <include refid="BaseTable"/>
        (
        <include refid="BaseColumns_Insert"/>
        )
        VALUES (
        #{id,jdbcType=INTEGER},
        #{jobId,jdbcType=INTEGER},
        #{isSuccess,jdbcType=INTEGER},
        #{queryResultSize,jdbcType=INTEGER},
        #{currentPageNum,jdbcType=VARCHAR},
        #{currentPageSize,jdbcType=VARCHAR},
        #{startRow,jdbcType=VARCHAR},
        #{endRow,jdbcType=VARCHAR},
        #{connType,jdbcType=VARCHAR},
        #{successCount,jdbcType=VARCHAR},
        #{failCount,jdbcType=VARCHAR},
        #{totalSuccessCount,jdbcType=VARCHAR},
        #{totalFailCount,jdbcType=VARCHAR}
        )
    </insert>


    <select id="queryLatestLogInfoByJobId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT *
        FROM <include refid="BaseTable"/>
        WHERE id = (
          SELECT max(id)
          FROM DS_SYNCH_JOB_LOG_INFO
          WHERE JOBID = #{jobId}
        )
    </select>
    <select id="queryLatestPageParamsByJobId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns"/>
        FROM <include refid="BaseTable"/>
        WHERE JOBID  = (
        SELECT max(id)
        FROM DS_SYNCH_JOB_LOG_INFO
        WHERE JOBID = #{jobId}
        )
    </select>
    <delete id="deleteByJobId" parameterType="java.lang.Integer">
        DELETE FROM <include refid="BaseTable"/>
        WHERE JOBID = #{jobId}
    </delete>
</mapper>
