<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetc.cloud.datasynch.provider.mapper.ValueDictMapper">
    <resultMap id="BaseResultMap" type="com.cetc.cloud.datasynch.api.model.ValueDictModel">
        <id column="OBJECT_ID" jdbcType="INTEGER" property="object_id"/>
        <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName"/>
        <result column="COLUMN_NAME" jdbcType="VARCHAR" property="columnName"/>
        <result column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="CODE_IN_CHINESE" jdbcType="VARCHAR" property="codeInChinese"/>
        <result column="TB_IN_CHINESE" jdbcType="VARCHAR" property="tbInChinese"/>
        <result column="COL_IN_CHINESE" jdbcType="VARCHAR" property="colInChinese"/>
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime"/>
    </resultMap>

    <sql id="Base_Table">
      DS_VALUE_DICT
    </sql>

    <sql id="Base_Column_List">
      OBJECT_ID,TABLE_NAME,COLUMN_NAME,CODE,CODE_IN_CHINESE,TB_IN_CHINESE,COL_IN_CHINESE,CREATE_TIME,UPDATE_TIME
    </sql>

    <sql id="Base_Column_List_Insert_List">
      TABLE_NAME,COLUMN_NAME,CODE,CODE_IN_CHINESE,TB_IN_CHINESE,COL_IN_CHINESE
    </sql>

    <insert id="addList" parameterType="java.util.List">
        INSERT INTO <include refid="Base_Table"/>
        (
          <include refid="Base_Column_List_Insert_List"/>
        )
        select temp.* FROM (
        <foreach collection="list" index="index" item="singleModel" separator="union all">
            select
            #{singleModel.tableName},
            #{singleModel.columnName},
            #{singleModel.code},
            #{singleModel.codeInChinese},
            #{singleModel.tbInChinese},
            #{singleModel.colInChinese}
            from dual
        </foreach>
        )temp
    </insert>

</mapper>